<%- include('components/header') %>
<section id="main">
    <header>
        <span class="avatar"><img src="<%= avatarURL %>" alt=""/></span>
        <h1><%= organizationName %></h1>
        <p>Welcome to Join US</p>
    </header>
    <footer>
        <ul class="icons">
            <li><a href="/github/login" class="icon brands fa-github">GitHub</a></li>
        </ul>
    </footer>
</section>
<%- include('components/footer') %>
